* {box-sizing: border-box;}

.App {
  text-align: center;
  width: 100%;
  height: 100vh;
  background-size: contain;
  background-color: black;
}

.App-header {
  width: 100%;
  height: 100%;
  background-color: #282c34;
  min-height: 100vh;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

.title {
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  font-family: monospace;
  color: red;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-auto-rows: minmax(30vh, auto);
  height: 100%;
}

.box {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-size: cover;
  overflow: hidden;
  padding: 2%;
  position: relative;
}

.box-image {
  width: 100%;
  z-index: 0;
}

#box-image-camouflage1 {
  height: 100%;
}

#box-image-camouflage2 {
  height: 100%;
}

#box-image-camouflage3 {
  height: 100%;
}

#box-image-camouflage4 {
  height: 100%;
  z-index: 1;
}

.box-image-wrapper {
  overflow: scroll;
}

#box4 {
  display: inline-block;
  overflow: scroll;
}

#box6 {
  display: inline-block;
  overflow: scroll;
}

.box-empty {

}

.box-text {
  font-size: calc(8px + 2vmin);
  font-weight: normal;
  font-family: monospace;
  color: red;
}

.box-items {
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: 2;
  display: inline-block;
  flex-direction: column;
  position: relative;
  overflow: scroll;
}

@media only screen and (max-width: 736px) {
  /* For mobile phones: */
  .wrapper {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-auto-rows: minmax(30vh, auto);
    height: auto;
    width: 100%;
  }

  .App {
    height: 100%;
    width: 100%;
    background-size: contain;
    background-attachment: fixed;
  }

  .video {
    width: 650;
    height: auto;
  }

  #box1 {
    order: 2;
  }

  #box2 {
    order: 3;
  }

  #box3 {
    order: 4;
  }

  #box4 {
    order: 9;
  }

  #box5 {
    order: 1;
  }

  #box6 {
    order: 5;
  }

  #box7 {
    order: 8;
  }

  #box8 {
    order: 7;
  }

  #box9 {
    order: 6;
  }


}
