* {box-sizing: border-box;}

.App {
  text-align: center;
  width: 100%;
  height: 100vh;
  background-size: contain;
}

.App-logo {
  height: 150vh;
  pointer-events: none;
  overflow: hidden;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 40s linear;
  }
}

.App-header {
  width: 100%;
  height: 100%;
  background-color: #282c34;
  min-height: 100vh;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  font-family: monospace;
  color: red;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-auto-rows: minmax(30vh, auto);
  height: 100%;
}

.box {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-size: cover;
  overflow: hidden;
  padding: 2%;
  position: relative;
}

.box-image {
  width: 100%;
  z-index: 0;
}

#box-image-camouflage1 {
  height: 100%;
}

#box-image-camouflage2 {
  height: 100%;
}

#box-image-camouflage3 {
  height: 100%;
}

#box-image-camouflage4 {
  height: 100%;
  z-index: 1;
}

.box-image-wrapper {
  overflow: scroll;
}

#box2 {
  display: inline-block;
  overflow: scroll;
}

#box8 {
  display: inline-block;
  overflow: scroll;
}

.box-empty {

}

.box-text {
  font-size: calc(8px + 2vmin);
  font-weight: normal;
  font-family: monospace;
  color: red;
}

.box-items {
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: 2;
  display: inline-block;
  flex-direction: column;
  position: relative;
  overflow: scroll;
}
